<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="accordion sticky-right-middle ms-auto" id="accordionExample">

        <!-- Accordion Items -->
        <div class="accordion-item" *ngFor="let item of listItems; let i = index" style="position: relative;">

          <h2 class="accordion-header" [attr.id]="'heading' + i"
            style="display: flex; justify-content: space-between; align-items: center;">

            <!-- Accordion Button -->
            <button class="accordion-button" [ngClass]="{'collapsed': !accordionOpenState[i]}" type="button"
              (click)="toggleAccordion(i)" [attr.aria-expanded]="accordionOpenState[i]"
              [attr.aria-controls]="'collapseOne' + i" style="flex: 1; overflow: hidden;">
              {{ item.key }} &nbsp; <span style="font-weight: bold;">({{ item.values.length }})</span>
            </button>

            <!-- Dropdown Button -->
            <div class="dropdown" (click)="$event.stopPropagation()" style="position: relative;">
              <button class="btn btn-more-options" type="button" (click)="toggleDropdown(i)">
                <i class="fas fa-ellipsis-vertical"></i>
              </button>

              <!-- Dropdown Menu -->
              <ul class="dropdown-menu" [ngClass]="{'show': isOpen[i]}"
                [attr.aria-labelledby]="'dropdownMenuButton' + i">
                <li><button (click)="removeItemsGroup(i)" class="dropdown-item">Delete</button></li>
              </ul>
            </div>

          </h2>

          <!-- Accordion Content -->
          <div [attr.id]="'collapseOne' + i" class="accordion-collapse collapse"
            [ngClass]="{'show': accordionOpenState[i]}" [attr.aria-labelledby]="'heading' + i">
            <div class="accordion-body" style="word-wrap: break-word;">
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let subItem of item.values | slice:0:10">{{ subItem }}</li>
              </ul>
              <div *ngIf="item.values.length > 10" class="text-muted">
                Shows only random 10 items
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>