/* You can add global styles to this file, and also import other style files */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  font-size: 15px !important;
  padding-top: 0px !important;
}


.ng-invalid-url {
  border: 1px solid #a94442;
  /* red */
}


#sendUrlInput:focus {
  border: none;
}

.modal.fade.show {
  display: block !important;
}

.custom-modal {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3000015;
  background-color: rgba(0, 0, 0, 0.5);
}

#toolsDropdown {
  background: linear-gradient(180deg, #f9f9f9, #e2e2e2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: perspective(1px) translateZ(0);
  transition: all 0.3s ease;
  z-index: 8888;
  position: absolute;
  transform: translateX(100%);
}

.dropdown-menu>li>a {
  border-radius: 4px;
  padding: 10px 20px;
  transition: all 0.2s ease;
}

.dropdown-menu>li>a:hover {
  background: #e2e2e2;
  transform: translateZ(1px);
}

.form-control-sm {
  width: 250px;
}