/* You can add global styles to this file, and also import other style files */
body *{
  font-family: 'Be Vietnam Pro', sans-serif !important;
  /* font-size: 15px; */
}

body {
  background-color: #E8EAE6;
}

/* .content * {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  font-size: 25px !important;
} */

.ng-invalid-url  {
  border: 1px solid #a94442; /* red */
}

#sendUrlInput:focus{
  border: none;
}

:root {
  color-scheme: only light;
}